<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{{ path('home') }}">Inici</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">


            {% if is_granted('ROLE_ADMIN') %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Gestion de usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e3f2fd;">
                        <a class="dropdown-item" href="{{ path('usuarios_list') }}">Usuarios</a>
                        <a class="dropdown-item" href="{{ path('contratos_list') }}">Contratos</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Gestion Administrativa
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e3f2fd;">
                        <a class="dropdown-item" href="{{ path('unidadGestion_list') }}">Unidad Gestion</a>
                        <a class="dropdown-item" href="{{ path('usuarioRolGestion_list') }}">UsuarioRolGestion</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion Tecnica
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e3f2fd;">

                        <a class="dropdown-item" href="{{ path("list_all_aspectos") }}">DAFO</a>
                        <a class="dropdown-item" href="{{ path('cuestiones_internas_list') }}">Cuestiones Internas</a>
                        <a class="dropdown-item" href="{{ path('cuestiones_externas_list') }}">Cuestiones externas</a>
                        <a class="dropdown-item" href="{{ path("cuestiones_internas_dafo_list") }}">Lista Internas</a>
                        <a class="dropdown-item" href="{{ path("cuestiones_externas_dafo_list") }}">Lista Externas</a>



                    </div>
                </li>


            {% endif %}

            {% if is_granted('ROLE_SUPER') %}

            <li class="nav-item">
            <a class="nav-link" href="{{ path('usuarios_list') }}">Usuarios</a>
            </li>


                <li class="nav-item">
                    <a class="nav-link" href="{{ path('unidadGestion_list') }}">Unidad Gestion</a>
                </li>


            {% endif %}


            {% if is_granted('ROLE_USER') %}


                <li class="nav-item">
                    <a class="nav-link" href="{{ path('unidadGestion_list') }}">Unidad Gestion</a>
                </li>

            {% endif %}


        </ul>
        {% if app.user %}
        <div class="col-lg-1">
          
            <img class="img-fluid mb-5 d-block" src="{{ absolute_url(asset ('uploads/imagenes/login.png')) }}"  style="height:15px; margin-bottom: :0;"alt="">

        </div>
            <div class="col-lg-1">
                    <p> {{app.user.userName}}</p>
            </div>

            <li class="nav-item dropdown pull-right">

                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Usuario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e3f2fd;">
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    <a class="dropdown-item" href="{{ path('usuarios_edit', {'id': app.user.id}) }}">Configuracio d'usuari</a>

                </div>
            </li>

        {% else %}
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        {% endif %}

    </div>
</nav>
<br>
