{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    <!-- Header -->

    <!-- About Section -->
    <section class="bg-white text-black mb-0">
        <div class="container">
        {% if unidadGestion is defined %}

                <div class="row">
                <div class="col-lg-2 col-center">
                  </div>
                        <div class="col-lg-8 col-center">
                        <h1 class="text-black center ">Menu {{unidadGestion.nombre}}</h2>

                        <a class="btn btn-primary btn-md btn-block" href="{{ path('cuestiones_externas_list' , {'id': unidadGestion.id}) }}"> Gestion cuestiones externas</a>
                        <a class="btn btn-primary btn-md btn-block" href="{{ path('cuestiones_internas_list',{'id': unidadGestion.id}) }}"> Gestion cuestiones internas</a>
                        <a class="btn btn-primary btn-md btn-block" href="{{ path("get_fce") }}"> Gestion partes interesadas</a>
                        <a class="btn btn-primary btn-md btn-block " href="{{ path("cuestiones_externas_dafo_list") }}" > Gestion aspectos favorables y desfaborables Externos</a>
                        <a class="btn btn-primary btn-md btn-block" href="{{ path("cuestiones_internas_dafo_list") }}" > Gestion aspectos favorables y desfaborables Internos</a>
                        <a class="btn btn-primary btn-md btn-block" href="{{ path("list_all_aspectos") }}" >DAFO</a>

                        </div>
                        <div class="col-lg-3 col-center">
                          </div>
                        <div class="col-lg-6 col-center">
                        <img class="img-fluid mb-5 d-block" src="{{ absolute_url(asset ('uploads/imagenes/equipo.png')) }}" alt="Trabajo en equipo">



                        </div>



                </div>
                {% else %}

                  <h2 class="text-black">NO esta assignado</h2>

                {% endif %}
            <hr class="star-light mb-5">
        </div>
    </section>

{% endblock %}
